<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,100;1,200&display=swap" rel="stylesheet">
	<title>Team Sporty Argentina</title>
</head>
<body>
<!--Inicio de header-->
<header>
    <h1> MELANIE C</h1>
    <!-- inicio Barra de menu-->
	    <nav>
		<h2>TEAM SPORTY ARGENTINA</h2>
            <ul>
                <li><a href="../index.html">HOME ───</a></li>
			    <li><a href="../views/musica.html">MUSICA ───</a></li>
			    <li><a href="../views/bio.html">BIO ───</a></li>
			    <li><a href="../views/shows.html">SHOWS ───</a></li>
			    <li><a href="../views/galeria.html">GALERIA ───</a></li>
            </ul>  
	    </nav>
    <!-- fin Barra de menu-->       
    </header>
    <!-- fin de menu-->  
	<main class="main_bio">
		<br>
		<br>
		<br>
        <span><img class="img_bio" src="../img/Melc1.jpg"> </span> <br>
        <br>
		<br>
		<br>
	    <h2 class="subtitulos">BIO</h2>
	    <br>
		<br>
		<br>
	        <p class="text_bio">El comienzo de la carrera de Melanie realmente no necesita explicación alguna, ya que está bastante bien documentado ...
            Después de que el icónico sencillo debut de 1996 "Wannabe" encabezara las listas de éxitos en 37 países, el álbum debut de Spice Girls "Spice" vendió más de 31 millones de copias en todo el mundo, convirtiéndose en el álbum más vendido de todos los tiempos por un grupo femenino. Las chicas vendieron más de 85 millones de discos, lanzaron tres álbumes de estudio, 13 sencillos y ganaron una serie de premios, incluido un BRIT por su contribución destacada a la música británica.
            
            La primera aventura en solitario de Melanie fue aparecer en el exitoso sencillo "When You’re Gone" con Bryan Adams. Como solista, Melanie ha logrado más de 3 millones de ventas de álbumes, dos sencillos número 1 y seis sencillos Top 10, incluidos los éxitos icónicos 'I Turn To You' y 'Never be the Same Again' con la fallecida Lisa 'Left Eye'. López. En 2005, su tema "First Day Of My Life" se convertiría en uno de sus mayores éxitos hasta la fecha, vendiendo más de 400.000 copias solo en Alemania. También llegó al puesto número 1 en España, Suecia, Austria, Suiza y Portugal, donde ayudó a impulsar el álbum "Beautiful Intentions" al doble estado de platino y lo mantuvo en el número 1 durante 9 semanas.
            En 2012, Melanie se reunió con las Spice Girls para lo que describió como el punto culminante de su carrera como grupo: actuar en la Ceremonia de Clausura Olímpica en Londres. En una de las apariciones más esperadas y frente a una audiencia televisiva global de miles de millones, ¡el mundo nunca podría volver a ver los taxis negros de la misma manera!
            El 2019 vio el regreso de las Spice Girls en su gira Stadium con entradas agotadas, que sirvió como un alegre recordatorio del hechizo que el poder femenino de los 90 todavía arroja sobre el pop.
            Melanie’s new self-titled album is out October 2nd. 
            Including recently released banger ‘In And Out Of Love’ also hits ‘Blame It On Me’ & ‘Who I Am’ Melanie C is a self-exploration, being Sporty spice and Melanie C… “That’s Who I Am”</p>
        <br>
    </main>
	<!--inicio Pie de pagina-->
	<footer> 
        <nav>
            <ul>
                <li><a href="#"><img src="../img/icon_facebook24px.png"></a></li>
                <li><a href="#"><img src="../img/icon_instagram24px.png"></a></li>
                <li><a href="#"><img src="../img/icon_youtube24px.png"></a></li>
            </ul>
        </nav>
    <br>
      <p>2021 ® Powered by Clau from Team Sporty Argentina.</p>
    </footer>
    <!--fin pie de pagina-->
</body>
</html>