<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,100;1,200&display=swap" rel="stylesheet">
	<title>Team Sporty Argentina</title>
</head>
<body>
  <header>
    <h1> MELANIE C</h1>
    <!-- inicio Barra de menu-->
	    <nav>
		<h2>TEAM SPORTY ARGENTINA</h2>
		        <ul>
                <li><a href="../index.html">HOME ───</a></li>
			          <li><a href="../views/musica.html">MUSICA ───</a></li>
			          <li><a href="../views/bio.html">BIO ───</a></li>
			          <li><a href="../views/shows.html">SHOWS ───</a></li>
			          <li><a href="../views/galeria.html">GALERIA ───</a></li>
            </ul>  
	      </nav>
  </header>
  <main>
    <br>
    <br>
    <br>
	  <h2 class="subtitulos">MUSICA</h2>
	  <br>
	  <br>
    <br><!--Tabla de discografía-->
      <table style="width:80%" border="1" cellpadding="1" cellspacing="2">
          <tr>
            <th>Disco</th>
            <th>Nombre</th>
            <th>Año</th>
          </tr>
          <tr>
            <td>IMG</td>
            <td>Northem Star</td>
            <td>1999</td>
          </tr>
          <tr>
            <td>IMG</td>
            <td>Reason</td>
            <td>2002</td>
          </tr>
          <tr>
  	        <td>IMG</td>
  	        <td>Beautiful Intentions</td>
  	        <td>2005</td>
          </tr>
          <tr>
            <td>IMG</td>
            <td>This Time</td>
            <td>2007</td>
          </tr>
          <tr>
            <td>IMG</td>
            <td>The Sea</td>
            <td>2011</td>
          </tr>
          <tr>
  	        <td>IMG</td>
  	        <td>Stages</td>
  	        <td>2012</td>
          </tr>
          <tr>
  	        <td>IMG</td>
  	        <td>Version Of Me</td>
  	        <td>2016</td>
          </tr>
          <tr>
            <td>IMG</td>
            <td>Melanie C</td>
            <td>2020</td>
          </tr>
        </table>
    </main>
    <br>
  <!--inicio Pie de pagina-->
	<footer> 
    <nav>
        <ul>
            <li><a href="#"><img src="../img/icon_facebook24px.png"></a></li>
            <li><a href="#"><img src="../img/icon_instagram24px.png"></a></li>
            <li><a href="#"><img src="../img/icon_youtube24px.png"></a></li>
        </ul>
    </nav>
<br>
  <p>2021 ® Powered by Clau from Team Sporty Argentina.</p>
</footer>
<!--fin pie de pagina-->
</body>
</html>