<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,100;1,200&display=swap" rel="stylesheet">
	<title>Team Sporty Argentina</title>
</head>
<body>
	<header>
		<h1> MELANIE C</h1>
		<!-- inicio Barra de menu-->
			<nav>
			<h2>TEAM SPORTY ARGENTINA</h2>
                 <ul>
                    <li><a href="../index.html">HOME ───</a></li>
			     <li><a href="../views/musica.html">MUSICA ───</a></li>
			     <li><a href="../views/bio.html">BIO ───</a></li>
			     <li><a href="../views/shows.html">SHOWS ───</a></li>
			     <li><a href="../views/galeria.html">GALERIA ───</a></li>
                 </ul>  
	     </nav>
        <!--fin barra de menú-->
	</hea1der>
	<main><br>
		<br>
		<br>
		<h2 class="subtitulos">SHOWS</h2>
		<br>
		<br>
		<br>
	        <ol class="lista-shows">
	    	    <li>From Liverpool to Leicester square (1999)</li> 
	    	    <li>Northern star european tour (2000/2001)</li>
                <li>Northern star world tour (2001)</li> 
	    	    <li>Reason UK & Ireland/Germany tour (2003)</li>
	    	    <li>The Barfly tour (2004)</li> 
	    	    <li>Beautiful intentions live tour (2005/2006)</li>
                <li>This time Canadian tour (2008)</li> 
	    	    <li>The Sea Live tour (2011 & 2012)</li>
	    	    <li>Version of Me Live tour (2016 & 2017)</li>
	    	    <li>Melanie C Live tour (2022)</li>
	        </ol>
	<br>
	</main>
	<!--inicio Pie de pagina-->
	<footer> 
        <nav>
            <ul>
                <li><a href="#"><img src="../img/icon_facebook24px.png"></a></li>
                <li><a href="#"><img src="../img/icon_instagram24px.png"></a></li>
                <li><a href="#"><img src="../img/icon_youtube24px.png"></a></li>
            </ul>
        </nav>
    <br>
      <p>2021 ® Powered by Clau from Team Sporty Argentina.</p>
    </footer>
    <!--fin pie de pagina-->
</body>
</html>